<div class="app-main">
    <h2>{{date | date : '现在的时间是：yyyy-MM-dd HH-mm-ss'}}</h2>
    <div class="app-main-t">
        <div class="col-lg-2">
            <img src="images/me.png" alt="" />
            <span>{{username}}</span>
            <p><a href="javascript:;">我的社区</a><i>HOT</i></p>
        </div>
        <div class="col-lg-4 center">
            <span>余额：</span>
            <h3>1<i>.00</i><em>元</em></h3>
            <div class="center_link">
                <a href="javascript:;" class="btn-a">充值</a>
                <a href="javascript:;">费用中心</a>
                <span>|</span>
                <a href="javascript:;">推荐码</a>
            </div>
        </div>
        <div class="col-lg-4 right">
            <span>代办：</span>
            <h3>0<em>续费代办</em></h3>
            <div class="center_link">
                <a href="javascript:;">工单代办<b>0</b></a>
                <span>|</span>
                <a href="javascript:;">代金券<b>0</b></a>
            </div>
        </div>
    </div>

    <div class="app-main-b">
        <h4>我的产品</h4>
        <div class="row">
            <div class="col-lg-3">我的新闻</div>
            <div class="col-lg-3">新增用户</div>
            <div class="col-lg-3">负载均衡</div>
        </div>
        <div class="row">
            <div class="col-lg-3">表格存储</div>
            <div class="col-lg-3">数据传输</div>
            <div class="col-lg-3">对象存储</div>
        </div>
        <div class="row">
            <div class="col-lg-3">态势感知</div>
            <div class="col-lg-3">企业邮箱</div>
            <div class="col-lg-3">标准建站</div>
        </div>
        <div class="row">
            <div class="col-lg-3">尊享服务</div>
            <div class="col-lg-3">日志服务</div>
            <div class="col-lg-3">合作伙伴产品中心</div>
        </div>

    </div>
</div>